<html>
<head>
  <script src="/res/js/jquery-2.2.4.js"></script>
  <script src="/res/js/jquery-ui.js"></script>
  <script src="/res/js/popper.min.js"></script>
  <script src="/res/js/bootstrap.min.js"></script>
  <script async src="/res/js/lodash.min.js"></script>
  <script src="/res/js/utilities.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="favicon.ico">
  <link rel="stylesheet" href="/res/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/res/css/awesomplete.css">
  <link rel="stylesheet" href="/res/css/font-awesome.css">
</head>
<body>
  <div id="topBar" style="width: 100%; display: inline-block;">
    <span id="titleAndButtons" style="padding-left: 10px;display: inline-block;width: 100%;padding-top: 7px;vertical-align: top;background-color: #055da0;color: white;padding-bottom: 5px;">
      <h3 style="display: inline-block;line-height: 35px;position: relative;top: -4px;vertical-align: top;margin-top: 3px;margin-bottom: 0px;margin-right: 10px;" aria-haspopup="true" aria-expanded="true">
        <span id="mainTitle" style="vertical-align: text-top;"><a href="/" style="color: white; text-decoration: none;">Block Man: An Interactive Regional Anesthesia Tool</a></span>
      </h3>
      <select id="selectBlock" class="form-control" style="display: inline-block; width: auto;">
        <option value="interscalene">Interscalene</option>
        <option value="supraclavicular">Supraclavicular</option>
        <option value="infraclavicular">Infraclavicular</option>
        <option value="axillary">Axillary</option>
        <option value="fullMap">Full Map</option>
        <option value="dermatome">Dermatomes</option>
        <option value="cutaneous">Cutaneous</option>
      </select>
      <span id="loadingTitle" style="margin-left: 10px; position: relative; top: -3px; display: none;"> Loading.. </span>
    </span>
  </div>
  <div id="mainBar" class="bg loading" style="float: left;width: 100%;height: calc(100% - 57px); background-color: white; overflow-y: scroll; padding-bottom: 20px;">
    <div id="col1" class="col-xs-12" style="padding-left: 10px;padding-right: 10px;padding-top: 10px;"> 
      <div id="front" style="width: 300px; display: inline-block;">
        <%- include ("../res/svg/bodymapFront.svg") %>
      </div>
      <div id="back" style="width: 300px; display: inline-block;">
        <%- include ("../res/svg/bodymapBack.svg") %>
      </div>
      <div id="foot" style="width: 100px; display: inline-block;">
        <%- include ("../res/svg/bodymapFoot.svg") %>
      </div>
    </div>
  </div>
  <script>

// Try reverse lookup

    var namedSections = {
      'f_C4lat': 'front,path2797',
      'f_C4med': 'front,path2758',
      'f_C5': 'front,path14887',
      'f_C6': 'front,path2389',
      'f_C7': 'front,path1747',
      'f_C8': 'front,path1708',
      'f_T1': 'front,path14848',
      'f_T2': 'front,path14653',

      'b_C4': 'back,path15160',
      'b_C5': 'back,path15316',
      'b_C6': 'back,path15745',
      'b_C7': 'back,path16016',
      'b_C8': 'back,path15977',
      'b_T1': 'back,path15706',
      'b_T2': 'back,path15355',
      'b_T3': 'back,path15394',

      'p_S1': 'foot,path14068',
      'p_L5': 'foot,path14107'

    };

    var nerveBlocks = {
      'interscalene': [ 'f_C4lat', 'f_C5', 'f_C6', 'b_C4', 'b_C5', 'b_C6', 'p_L5' ],
      'supraclavicular': [ 'f_C5', 'f_C6', 'f_C7', 'b_C5', 'b_C6', 'b_C7' ],
      'infraclavicular': [ 'f_C7', 'f_C8', 'b_C7', 'b_C8' ],
      'axillary': [ 'f_C6', 'f_C7', 'f_C8', 'b_C6', 'b_C7', 'b_C8' ]
    };

    var middle = 500;
    var flip = {
      'front': 336.5,
      'back': 117
    }
    var defaultSides = {
      'front,layer10': 'right', // Front Dermatome
      'front,layer9': 'left', // Front Cutaneous nerves
      'back,layer10': 'right', // Back Dermatome
      'back,layer9': 'left', // Back Cutaneous nerves
      'foot,layer10': 'none',
      'foot,layer9': 'none'
    };

    var showBlock = function(list, side, opts) {
      opts = opts || {};
      var fill = opts.color == null ? 'green' : opts.color;

      list.map(function(name) {
        var hash = namedSections[name];
        var group = hash.split(',')[0];
        var id = hash.split(',')[1];
        var el = $('#' + group).find('#' + id);
        var parent = el.parent().attr('id');
        var originalSide = defaultSides[group+','+parent];
        
        if (el.length == 0) {
          console.log(id, 'no longer exists')
          return;
        }

        if (originalSide == side || originalSide == 'none') {
          el.show().css('fill', fill);
        } else {
          var flipped = $(el[0].outerHTML);
          flipped.attr('id', 'flip_' + id);
          flipped.show().css('fill', fill);

          var newParent = $('<g class="flip">'); //  transform="scale (-1, 1)" transform-origin="800px, 0px"
          newParent.append(flipped);
          newParent.css('transform-origin', flip[group] + 'px 0px').css('transform', 'scale(-1, 1)')
          $('#' + group).find('#' + parent).append(newParent);
        }
      });

      $('#front>svg').html($('#front>svg').html())
    };

    var blockType = 'interscalene';

    var refresh = function() {
      $('.flip').remove();

      $('#front, #back, #foot').find('#layer10, #layer9').children().each(function(i, n) {
        $(n).hide();
      });

      if (blockType == 'fullMap') {
        $('#front, #back, #foot').find('#layer10, #layer9').children().each(function(i, n) {
          $(n).show();
        });
      } else if (blockType == 'dermatome') {
        $('#front, #back, #foot').find('#layer10').children().each(function(i, n) {
          $(n).show();
        });
      } else if (blockType == 'cutaneous') {
        $('#front, #back, #foot').find('#layer9').children().each(function(i, n) {
          $(n).show();
        });
      } else {
        showBlock(nerveBlocks[blockType], 'left', { color: 'grey' });
        showBlock(nerveBlocks[blockType], 'right', { color: 'grey' });
        // showBlock(['p_S1'], 'left', { color: 'grey' });
      }

      $('#front').html($('#front').html())
      $('#back').html($('#back').html())
      $('#foot').html($('#foot').html())
    };

    $(function() {
      $('#front, #back, #foot').find('#layer10, #layer9').show().children().each(function(i, n) {
        $(n).hide();
        $(n).css('fill', 'grey');
      })

      refresh();

      $('#selectBlock').unbind('change').on('change', function() {
        blockType = $(this).val();
        refresh();
      })
    });
  </script>
</body>
</html>